<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="campaignprofile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  </head>
  <body>
<header>
  <h2>My Raises</h2>
</header>
    <a class="logout" href="/logout">Logout</a>
    <section class="topcontainer">
      <section class="child">
        <div class="card" style="width: 18rem;">
        <img src="img/hands.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <a href="/campaignform"  class="btn btn-primary">Start a new fundraiser</a>
        </div>


      </div>
      <% for(var i=0;i<answer.length;i++){ %>
        <div  class="test">
        <img src="img/img02.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h3><%=answer[i].user%></h3>
          <h4><%=answer[i].description%></h4>
          <h4>Amount Raise: <%=answer[i].currentGoal%>$</h4>

          <!-- <input type="hidden" name="result" value="<%=answer._id%>"> -->

          <button  value="<%=answer[i]._id%>" id="card" class="btn btn-primary deleteButton">Delete Fundraiser</button>
        </div>


      </div>

      <%}%>
    </section>

    </section>
    <script type="text/javascript" src="/main.js">

    </script>
  </body>
</html>
