<!doctype html>
<html>
<head>
    <title>Promise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
  <header>

  <!-- <p>Login or Signup:</p> -->

  <!-- <a href="/login" class="btn btn-default test2"><span class="fa fa-user"></span>Login</a>
  <a href="/signup" class="btn btn-default test2"><span class="fa fa-user"></span>Signup</a> -->

  <!-- <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="/login">Login</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="/signup">Signup</a>
    </li>

  </ul> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light color">
<!-- <img src="img/picture.png" alt=""> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h1 class="Promise">Promise</h1>
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0"> -->
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <a href="/login"><button class="btn btn-outline-danger my-2 my-sm-0 margin" >Login</button></a>
    <a href="/signup">  <button class="btn btn-outline-primary my-2 my-sm-0 margin">Signup</button>
    <!-- </form> -->
  </div>
</nav>
    </header>

  <!-- <section class="viewdonation">
     <a href="#">Current FundRaisers</a>
  </section> -->
<div class="container">
    <div class="jumbotron text-center test">
        <h1>Give one Raise one</h1>
        <!-- <img src="img/donate.jpg" alt="21 Savage Profile Photo"> -->
      <!-- <section class="showFundraisers">
          <% for(var i=0; i<answer.length;i++) { %>

          <%}%>
      </section> -->
      <div class="row">

      <% for(var i=0; i<answer.length;i++) {%>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img srcset="<%=answer[i].imgPath%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=answer[i].title%></h5>
              <h5 class="card-title"></h5>
              <p class="card-text black"><%=answer[i].user%> is organizing this fundraiser</p>
              <p class="card-text black"><%=answer[i].amount%></p>
              <p class="card-text black"><%=answer[i].date%></p>
              <!-- <p class="card-text"><%=answer[i].description%></p>
              <p class="card-text"><%=answer[i].description%></p> -->

              <a href="/donationForm/<%=answer[i]._id%>" class="btn btn-primary">Donate</a>
              <a href="/viewdonation/<%=answer[i]._id%>">View  Page Donation</a>
            </div>
          </div>
          <!-- <h4><%=answer[i].user%></h4>
          <h4><%=answer[i].title%></h4>
          <h4><%=answer[i].amount%></h4>
          <h4><%=answer[i].date%></h4> -->
          <!-- <h4><%=answer[i].description%></h4> -->
          <!-- this is grabbing the specific id from the database so it's a must to pass the id as a query paramter-->
          <!-- <a href="/donationForm/<%=answer[i]._id%>" ><button>Donate</button></a> -->
        </div>
      <%}%>

    </div>

        <!-- <p>Login or Signup:</p> -->

        <!-- <a href="/login" class="btn btn-default test2"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default test2"><span class="fa fa-user"></span>Signup</a> -->

    </div>

</div>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4 ">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">About Us</h5>
        <p>Promise is aimed to focused on providing support for reducing poverty</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Contact Information</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
